$mainColor: #c40000;
$color-1: #ffffff;
$color-2: #211e3b;
$color-3: #000000;
$color-4: #212121;

@mixin mainFontAndColor($font-size, $font-weight, $color) {
    font-size: $font-size;
    font-weight: $font-weight;
    font-style: normal;
    line-height: 21.72px;
    font-family: Noto Sans JP;
    color: $color;
}

@mixin postFontAndColor($font-size, $font-weight, $line-height, $color) {
    font-size: $font-size;
    font-weight: $font-weight;
    font-style: normal;
    line-height: $line-height;
    font-family: SVN-Gilroy;
    color: $color;
}

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin mobile {
    @media screen and (max-width: 576px) {
        @content;
    }
}
